.pytest_cache
.env*
!.env.example
.venv
__pycache__
docker
*.zip
client_secrets.json
mycreds.txt


# Terraform - Essential files to ignore
**/.terraform/*
*.terraform.lock.*
*.tfstate
*.tfstate.*
!terraform.tfvars.example
*.tfplan